/* PlanList.css */

.plan-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 100px;
}

.plan-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.plan-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  box-sizing: border-box;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.dragging {
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.add-plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
